<div class="flex flex-col space-y-2 text-center text-sm text-gray-500">
  <%- if controller_name != 'sessions' %>
    <%= link_to "すでにアカウントをお持ちですか？ ログイン", new_session_path(resource_name), class: "hover:text-blue-600 transition font-medium" %>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "はじめてですか？ 新アカウント作成", new_registration_path(resource_name), class: "hover:text-blue-600 transition font-medium" %>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "パスワードをお忘れですか？", new_password_path(resource_name), class: "text-xs text-gray-400 hover:text-blue-500 transition" %>
  <% end %>
</div>
